*{
    padding:0; margin:0;
}
body {margin:0; padding:0;min-width: 1120px;}
.container{
    width: 100%;
    padding:0; margin:0;
    min-width: 1120px;
    font-family: 'Microsoft YaHei';
}
.container div.header{
    padding:0; margin:0;
    width: 100%;
    height: 60px;
    min-width:1120px;
}
.left-hd{
    position: absolute;
    display: inline-block;
    height: 60px;
    left: 5%;
    width: 200px;
}
.left-hd img{
    width: 40px;
    height: 40px;
    margin-left: 40px;
    margin-top: 5px;
}
.left-hd p{
    position: absolute;
    width: 100px;
    height: 40px;
    top: 15px;
    left: 95px;
    font-size: 20px;
    text-align: center;
}
nav{
    width: 500px;
    height: 50px;
    margin: 0 20% 0 40%;
    position: relative;
    display: inline-block;
}
.right-hd {
    margin-top: 0px;
    position: relative;
    float: right;
    right: 5%;
    width: 100px;
    top: -50px;
    display: inline-block;
}
.right-hd img{
    margin-right: 180px;
    margin-top: 20px;

}
.right-hd p{
    position: absolute;
    width: 100px;
    height: 40px;
    top: 18px;
    font-size: 15px;
    color: #F04C57;
    text-align: center;
}

nav ul{
    position:absolute;
    display:block;
    top:0;
}
nav ul li{
    text-align: center;
    width:80px;
    display:inline;
    float:left;
    padding:20px 10px;
}
nav ul li:hover{
    border-bottom: 3px solid red;
}
.section-1 {
    width: 100%;
    height: 650px;
    margin-top: 2px;
    background-image: url(../image/image7/pic01.jpg);
    background-size: 100% auto;
}
.section-1 .p {
    position: absolute;
    top: 270px;
    left: 120px;
}
.section-1 .p p.one {
    font-size: 65px;
    color: #eee;
    font-weight: 200;
    width: 500px;
    margin-bottom: 20px;
}
.section-1 .p p.second {
    font-size: 25px;
    color: #eee;
    width: 500px;
    margin-bottom: 60px;
}
.section-1 .p span {
    background: #ab3a3a;
    width: 250px;
    position: absolute;
    font-size: 30px;
    line-height: 60px;
    text-align: center;
    height: 60px;
    color: #eee;
}
.section-2{
    width:100%;
    height: 240px;
    top: 0;
    font-size: 0;
}
.section-2 .cell{
    width: 25%;
    height: 240px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.section-2 .cell .img{
    width: 100%;
    height: 130px;
    text-align: center;
    line-height: 130px;
}
.section-2 .cell .img img{
    position: relative;
    top: 40px;
}
.section-2 .cell .p{
    position: relative;
    top: 20px;
    width: 100%;
    text-align: center;
    font-size: 13px;
    box-sizing: border-box;
    color: #534141;
    text-align: center;
    border-right: 2px solid #534141;
}
.section-2 .cell .p :hover{
    color: red;
}
.section-3{
    width: 100%;
    height: 400px;
    background: #eee;
}
.section-3 .img{
    text-align: center;
    height: 200px;
    line-height: 200px;
}
.section-3 .img img{
    position: relative;
    top: 90px;
}
.section-3 .p{
    margin-top: 60px;
    text-align: center;
    height: 100px;
    font-size: 40px;
    line-height: 100px;
}
.section-4{
    background: url("../image/image7/pic02.jpg") no-repeat;
    background-size: 100%;
    width: 100%;
    text-align: center;
    height: 300px;
}
.section-4 .p{
    width: 100%;
    height: 150px;
    text-align: center;
}
.section-4 .p .p-1{
    position: relative;
    top: 50px;
    font-size: 20px;
    color: #fff;
    font-weight: bold;
}
.section-4 .p span{
    margin-top: 65px;
    text-align: center;
    color: #fff;
    display: inline-block;
    border-top: 2px solid #fff;
    width: 30px;
    transition: width 0.4s ease-in-out;
}
.section-4 .p span:hover{
    width: 300px;
}
.section-4 .p .p-2{
    margin-top: 30px;
    font-size: 10px;
    color: #fff;
}
.section-4 input[type="radio"] {
    width: 240px;
    height: 36px;
    margin: 0 10px;
    cursor: pointer;
    opacity: 0;
    position: relative;
    top: 47px;
    z-index: 10;
}
.section-4 .options {
    height: 36px;
}
.section-4 .options .select {
    width: 240px;
    height: 36px;
    margin: 0 10px;
    font-size: 14px;
    line-height: 36px;
    text-align: left;
    color: #B3B3B3;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    border: 1px solid #C6B3AF;
    background: url(../image/image7/icon-7.png) no-repeat 210px 8px,#fff;
    background-size: 20px;
}
.section-4 .options .select .option {
    width: 240px;
    background-color: #E3E3E5;
    position: absolute;
    z-index: 10;
    display: none;
    left: -2px;
    top: 34px;
}
.section-4 input[type="submit"] {
    width: 240px;
    height: 36px;
    line-height: 36px;
    font-size: 16px;
    margin: 0 10px;
    border: 0;
    outline: 0;
    background-color: #BE4F48;
    color: #fff;
    letter-spacing: 30px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    top: 36px;
    -webkit-transition: background-color 0.4s ease-in-out;
    -moz-transition: background-color 0.4s ease-in-out;
    transition: background-color 0.4s ease-in-out;
}
.section-4 .options .select span {
    margin-left: 10px;
}
.section-5{
    font-size: 0;
    width: 100%;
    height: 500px;
    background: #eee;
    text-align: center;
}
.section-5 .cell{
    position: relative;
    top: 0;
    width: 25%;
    display: inline-block;
}
.section-5 .cell .p{
    text-align: center;
    height: 100px;
}
.section-5 .cell .p .one{
    position: relative;
    top: 10px;
    font-size: 14px;
    color: #44403F;
}
.section-5 .cell .p .two{
    position: relative;
    top: 15px;
    font-size: 12px;
    color: #B3AFAC;
}
.section-5 .cell:nth-child(2) .p .one {
    font-size: 24px;
    text-indent: 30px;
    padding-top: 50px;
    letter-spacing: 30px;
}
.section-5 .cell:nth-child(2) .img {
    position: relative;
    top: 30px;
}
.section-6{
    width: 100%;
    height: 560px;
}
.section-6 .left-6{
    float: left;
    color: #fff;
    text-align: center;
    width: 68%;
    height: 560px;
    background: url("../image/image7/pic07.jpg") no-repeat;
    background-size: cover;
}
.section-6 .left-6 .one{
    position: relative;
    font-size: 50px;
    top: 100px;
}
.section-6 .left-6 .two{
    margin-top: 100px;
    font-size: 150px;
}
.section-6 .left-6 .three{
    font-size: 30px;
    margin-top: 30px;
}
.section-6 .left-6 .four{
    font-size: 30px;
    margin-top: 50px;
}
.section-6 .right-6{
    height: 560px;
    display: inline-block;
    width: 32%;
    text-align: center;
    background: #fff;
}
.section-6 .right-6 .title{
    position: relative;
    top: 100px;
    font-size: 20px;
}
.section-6 .right-6 .word {
    line-height: 25px;
    font-size: 14px;
    text-align: center;
    margin-top: 200px;
    margin-left: 10%;
    margin-right: 10%;
    height: 200px;
}
.section-6 .right-6 span{
    display: block;
    text-align: center;
    width: 150px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    border: 2px solid #E84E4C;
    color: #E84E4C;
}
.section-6 .right-6 span:hover{
    background-color: #E84E4C;
    color: #fff;
}
.section-7{
    width: 100%;
    height: 520px;
}
.section-7 .left{
    font-size: 20px;
    float: left;
    height: 520px;
    background-color: #E84E4C;
    color: #fff;
    width: 33%;
    text-align: center;
}
.section-7 .right{
    float: right;
    height: 520px;
    width: 32%;
    background: url("../image/image7/pic08.jpg") no-repeat;
    background-size: cover;
}
.section-7 .mid{
    font-size: 20px;
    color: black;
    height: 520px;
    background-color: #fff;
    text-align: center;
}
.section-7 .left p , .section-7 .mid p{
    position: relative;
    top: 200px;
    line-height: 40px;
}
.section-7 .left span.hr {
    display: block;
    text-align: center;
    margin: 220px auto 60px;
    border-top: 2px solid #fff;
    width: 40px;
    transition: width 0.4s ease-in-out;
}
.section-7 .mid span.hr{
    display: block;
    margin: 220px auto 60px;
    text-align: center;
    border-top: 2px solid #eee;
    width: 40px;
    transition: width 0.4s ease-in-out;
}
.section-7 .mid span.hr:hover{
    width: 300px;
}
.section-7 .left span.hr:hover{
    width: 300px;
}
.section-7 .left span.word{
    border: 2px solid #fff;
    width: 150px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    display: block;
}
.section-7 .mid span.word{
    border: 2px solid #E84E4C;
    width: 150px;
    margin: 0 auto;
    height: 40px;
    line-height: 40px;
    display: block;
}
.section-7 .mid span.word:hover{
    background-color: #E84E4C;
    color: #fff;
}
.section-7 .left span.word:hover{
    background-color: #fff;
    color: #E84E4C;
}
.section-8{
    width: 100%;
    height: 800px;
    text-align: center;
}
.section-8 .title {
    width: 100%;
    height: 300px;
    top: 80px;
}
.section-8 .title .mess{
    position: relative;
    width: 100%;
    top: 100px;
}
.section-8 .title .mess p:nth-of-type(1){
    font-size: 18px;
}
.section-8 .title .mess p:nth-of-type(2){
    font-size: 14px;
    color: #B3AFAC;
}
.section-8 .title span{
    border-top: 2px solid red;
    display: inline-block;
    width: 30px;
    height: 20px;
    margin: 20px;
}
.section-8 .left-8{
    width: 30%;
    display: inline-block;
    height: 400px;
    text-align: left;
}
.section-8 .left-8 .mess{
    margin-top: 50px;
    width: 350px;
    height: 100px;
}
.section-8 .left-8 .mess p:nth-of-type(1){
    margin: 20px;
    font-size: 16px;
    color: #6C5C5C;
}
.section-8 .left-8 .mess p:nth-of-type(2){
    font-size: 14px;
    color: #B3AFAC;
}
.section-8 .left-8 .mess span{
    font-size: 14px;
    color: #B3AFAC;
    float: right;
    cursor: pointer;
}
.section-8 .right-8{
    top: 50px;
    display: inline-block;
    width: 50%;
    position: relative;
}
.section-8 .right-8 input[type="text"]{
    height: 40px;
    width: 300px;
    font-size: 14px;
    color: #4E3A4F;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    border: 0;
    outline: 0;
    background-color: #E3E3E3;
}
.section-8 .right-8 textarea{
    height: 200px;
    width: 620px;
    font-size: 14px;
    color: #4E3A4F;
    box-sizing: border-box;
    margin: 10px;
    padding: 10px;
    border: 0;
    outline: 0;
    background-color: #E3E3E3;
}
.section-8 .right-8 input[type="submit"]{
    height: 40px;
    width: 620px;
    text-align: center;
    font-size: 14px;
    color: #4E3A4F;
    box-sizing: border-box;
    margin: 10px;
    border: 0;
    outline: 0;
    background-color: #E3E3E3;
}
.section-9{
    width: 100%;
    height: 400px;
    text-align: center;
    background-color: #33363F;
}
.section-9 .mess{
    margin-top: 100px;
    width: 100%;
    height: 150px;
    display: inline-block;
}
.section-9 .mess p:nth-of-type(1){
    font-size: 20px;
    color: #FFFFFF;
    margin: 20px;
}
.section-9 .mess p:nth-of-type(2){
    font-size: 14px;
    color: #FFFFFF;
}
.section-9 .mid input[type="text"]{
    width: 500px;
    height: 40px;
    font-size: 15px;
    box-sizing: border-box;
    padding-left: 10px;
    color: #75757F;
}
.section-9 .mid input[type='submit']{
    width: 100px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    letter-spacing: 5px;
    border: 0;
    box-sizing: border-box;
    background-color: #75757F;
}
.section-9 .icon {
    margin-top: 30px;
    width: 100%;
    height: 70px;
    color: #fff;
}
.section-9 .icon i{
    display: inline-block;
    width: 50px;
    height: 50px;
    font-size: 40px;
    padding: 10px;
    line-height: 50px;
    vertical-align: middle;
    margin: 0;
    cursor: pointer;
}
footer{
    width: 100%;
    height: 60px;
    text-align: center;
    background-color: #30303A;
    line-height: 60px;
}
footer p:nth-of-type(1){
    float: left;
    width:20%;
}
footer p:nth-of-type(2){
    float: right;
    width: 20%;
}